

openfisca_france_indirect_taxation/examples/notebooks/.ipynb_checkpoints/*.ipynb
openfisca_france_indirect_taxation/assets/matching/*.csv
openfisca_france_indirect_taxation/assets/quaids/*.csv
openfisca_france_indirect_taxation/assets/matching/*/*.csv
openfisca_france_indirect_taxation/assets/matching/*.csv
openfisca_france_indirect_taxation/assets/legislation/nomenclature_coicop_by*.csv
!openfisca_france_indirect_taxation/assets/quaids/data_elasticities_no_alime_all.csv


.vscode
.idea
.tags*
.spyderproject
.spyproject
.spyderworkspace
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

openfisca_france_indirect_taxation/elasticite_depense.csv
openfisca_france_indirect_taxation/assets/matching/matching_enl/data_matching_bdf.csv
