include README.md
include COPYING

recursive-include openfisca_france_indirect_taxation *.py
recursive-include openfisca_france_indirect_taxation *.yaml

prune openfisca_france_indirect_taxation/assets
prune openfisca_france_indirect_taxation/examples/notebooks
